body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: minmax(8%, 12%) 1fr;
  grid-template-areas:
    "header"
    "main";
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: rgb(88, 110, 108);
}

#add-book-dialog {
  background-color: #949494ec;
  border-radius: 3rem;
  box-shadow: 0px 0px 30px 1px black;
  padding: 2rem;
}

#book-form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  gap: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.dialog-button {
  background: rgb(170, 170, 171);
  border-radius: 1em;
  font-weight: 700;
}

#add-book-button {
  background: rgb(170, 170, 171);
  border-radius: 1em;
  font-weight: 700;
  margin-top: 1rem;
}

.main-body {
  height: 100dvh;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  grid-auto-flow: row;
  justify-content: start;
  align-content: start;
  gap: 2rem;
  padding: 1.5rem;
  background-color: #0000006d;
}

.container {
  height: 300px;
  display: grid;
  grid-template-rows: 9% 9% 60% 9% 9% 4%;
  grid-template-areas:
    "title"
    "author"
    "."
    "pages"
    "footer";
  border-radius: 1em;
  padding-top: 1em;
  box-shadow: 0px 0px 30px 1px black;
  position: relative;
  overflow: hidden;
}

.coverimg {
  border-radius: 1em;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.title{
  grid-area: title;
}

.author {
  grid-area: author;
}

.pages {
  grid-area: pages;
}

.title,
.author,
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title:hover,.author:hover,.pages:hover {
  z-index: 2;
}

.container-footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  gap: .3rem;
  bottom: 1em;
  padding: 0px 1em;
  background-color: rgba(0, 0, 0, 0.418);
  font-weight: 500;
  border-radius: 10%;
  color: white;
}

.read-button {
  background: none;
  border: none;
  color: white;
  font-weight: 700;
}

.delete-button {
  background: transparent;
  border: none;
  stroke: white;
  stroke-width: .7px;
  margin-left: auto;
}

.title,
.author,
.pages,
.container-footer {
  z-index: 1;
}